body {
    font-family: 'Roboto', sans-serif; /* Modern betűtípus */
    margin: 0;
    padding: 0;
    color: #4a3c31; /* Barna szín */
    background-color: #f5f5dc; /* Bézs háttér */
}

header {
    position: relative;
    text-align: center; /* Középre igazítás */
}

.hero-image {
    background-image: url('https://lh3.googleusercontent.com/p/AF1QipN7ViAQ8fORRasyyL37DbmgVHc1qnt19LRZVQTw=s680-w680-h510'); /* Cseréld ki a saját képed URL-jére */
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #6f4c3e; /* Kávébarna szín */
    margin: 0;
    padding: 10px 0;
}

nav ul li {
    margin: 0 20px; /* Növelt távolság a linkek között */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.2em; /* Nagyobb betűméret */
}

nav ul li a:hover {
    color: #f5f5dc; /* Világos bézs szín a hover állapotban */
}

main {
    padding: 20px;
    text-align: center; /* Középre igazítás */
}

section {
    margin: 20px 0;
}

h2 {
    font-size: 2.5em; /* Nagyobb méret a szekciócímekhez */
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #6f4c3e; /* Kávébarna szín */
    color: white;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
}

/* Villogó szöveg és figyelmeztetés */
.flashing-text {
    font-weight: bold;
    font-size: 1.5em; /* Nagyobb méret */
    animation: flash 1s infinite;
}

@keyframes flash {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}

.warning-text {
    font-size: 0.9em; /* Növelt méret */
    color: #555; /* Szürke szín */
    text-align: center;
    display: block; /* Új sorra helyezés */
    margin-top: 5px;
}
